<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PotionA01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,48}</string>
                <key>spriteSourceSize</key>
                <string>{53,48}</string>
                <key>textureRect</key>
                <string>{{249,47},{53,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PotionA02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,49}</string>
                <key>spriteSourceSize</key>
                <string>{53,49}</string>
                <key>textureRect</key>
                <string>{{302,47},{53,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PotionA03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,50}</string>
                <key>spriteSourceSize</key>
                <string>{53,50}</string>
                <key>textureRect</key>
                <string>{{355,47},{53,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PotionA04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,50}</string>
                <key>spriteSourceSize</key>
                <string>{53,50}</string>
                <key>textureRect</key>
                <string>{{408,47},{53,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PotionA05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,47}</string>
                <key>spriteSourceSize</key>
                <string>{50,47}</string>
                <key>textureRect</key>
                <string>{{95,47},{50,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PotionB01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{346,0},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PotionB02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{258,0},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PotionB03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{0,47},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PotionB04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,47}</string>
                <key>spriteSourceSize</key>
                <string>{44,47}</string>
                <key>textureRect</key>
                <string>{{434,0},{44,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PotionB05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,46}</string>
                <key>spriteSourceSize</key>
                <string>{52,46}</string>
                <key>textureRect</key>
                <string>{{197,47},{52,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PotionC01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{302,0},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PotionC02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{390,0},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PotionC03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,45}</string>
                <key>spriteSourceSize</key>
                <string>{44,45}</string>
                <key>textureRect</key>
                <string>{{170,0},{44,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PotionC04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{214,0},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PotionC05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,46}</string>
                <key>spriteSourceSize</key>
                <string>{52,46}</string>
                <key>textureRect</key>
                <string>{{145,47},{52,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PotionD01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,46}</string>
                <key>spriteSourceSize</key>
                <string>{43,46}</string>
                <key>textureRect</key>
                <string>{{127,0},{43,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PotionD02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,46}</string>
                <key>spriteSourceSize</key>
                <string>{43,46}</string>
                <key>textureRect</key>
                <string>{{84,0},{43,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PotionD03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{42,46}</string>
                <key>textureRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PotionD04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{42,46}</string>
                <key>textureRect</key>
                <string>{{42,0},{42,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PotionD05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,46}</string>
                <key>spriteSourceSize</key>
                <string>{51,46}</string>
                <key>textureRect</key>
                <string>{{44,47},{51,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>potions.png</string>
            <key>size</key>
            <string>{478,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9454de8bd67132df9ac0472dc96c733:b95f670aaf7364cd5b8ace6752981ff3:712da7a548fd2b08e39c986d4a6617fe$</string>
            <key>textureFileName</key>
            <string>potions.png</string>
        </dict>
    </dict>
</plist>
