<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./1_IDLE_000</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-6,-4}</string>
    <key>spriteSize</key>
    <string>{367,342}</string>
    <key>spriteSourceSize</key>
    <string>{387,350}</string>
    <key>textureRect</key>
    <string>{{0,700},{367,342}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./1_IDLE_001</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-2}</string>
    <key>spriteSize</key>
    <string>{365,346}</string>
    <key>spriteSourceSize</key>
    <string>{387,350}</string>
    <key>textureRect</key>
    <string>{{361,0},{365,346}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./1_IDLE_002</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{361,350}</string>
    <key>spriteSourceSize</key>
    <string>{387,350}</string>
    <key>textureRect</key>
    <string>{{0,0},{361,350}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./1_IDLE_003</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,0}</string>
    <key>spriteSize</key>
    <string>{361,350}</string>
    <key>spriteSourceSize</key>
    <string>{387,350}</string>
    <key>textureRect</key>
    <string>{{0,350},{361,350}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./1_IDLE_004</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,-2}</string>
    <key>spriteSize</key>
    <string>{365,346}</string>
    <key>spriteSourceSize</key>
    <string>{387,350}</string>
    <key>textureRect</key>
    <string>{{361,346},{365,346}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{726,1042}</string>
   <key>textureFileName</key>
   <string>MagoIdle.png</string>
  </dict>
 </dict>
</plist>
