<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hand01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,23}</string>
                <key>spriteSourceSize</key>
                <string>{27,23}</string>
                <key>textureRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{0,23},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cursor.png</string>
            <key>size</key>
            <string>{27,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19ac979c821ac173dda36d0a66129f6e:27640ba392f34f23ba14c418349b8dd4:ae917e212b0d09be26b80038d0eb742f$</string>
            <key>textureFileName</key>
            <string>cursor.png</string>
        </dict>
    </dict>
</plist>
